@import url('libs/_bootstrap-grid.scss');
@import url('libs/_bootstrap-reboot.scss');
// @import url('base/_fonts.scss'); I CONNECTED THROUGH GOOGLE CDN
@import url('base/_logo.scss');
@import url('base/_base.scss');
.confirmationBTN {
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: center;
    &-green {
        background-color: #689E2A;
        color: white;
        padding: 10px;
    }
}

// font-family: 'Work Sans', sans-serif;
// font-family: 'Roboto', sans-serif;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

.bodyNoScroll {
    overflow: hidden;
}


//BLOCK FIRSTSCREEN
@import url('blocks/_firstscreen.scss');
.firstscreen {
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    height: 100vh;
    background: linear-gradient(180deg, #689E2A 5.21%, rgba(196, 196, 196, 0) 100%);
    background-repeat: no-repeat;
    padding-top: 80px;
    &__wrapper {
        display: flex;
        justify-content: space-around;
        position: relative;
        align-items: center;
        padding-top: 20px;
    }
    &__right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        img {
            width: 330px;
        }
    }
    &__left {
        color: #fff;
        width: 50%;
        .confirmationBTN {
            width: 33%;
            transition: .1s all ease-in-out;
        &:hover {
            color: #fff;
            transform: scale(1.15);
            box-shadow: 0px 7px 5px 2px rgba(0, 0, 0, 0.3);
        }
        &:active {
            transition: .1s all linear;
            color: blue;
            transform: scale(0.8);
        }
        }
        h1 {
            font-size: 48px;
            font-weight: 700;
        }
        p {
            font-size: 14px;
            font-weight: 400;
        }
   
    }
    &__pulseborder {
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        flex-direction: column;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        opacity: .8;
        h2 {
            color: #53AF1E;
            text-transform: uppercase;
            font-weight: 900;
            margin-top: 15px;
            font-size: 30px;
        }
    }
    &-icons {
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 12rem;
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #689E2A;
            font-size: 24px;
            font-weight: 400;
            img {
                width: 40%;
                height: 40%;
            }
            p {
                font-size: 16px;
                margin-top: 10px;
            }
        }
    }
}

//BLOCK PRELOADER
@import url('base/_preloader.scss');
//BLOCK HEADER
@import url('blocks/_header.scss');
.header {
    transition: .2s all linear;
    position: fixed;
    width: 100vw;
    z-index: 9999999999;
    &-off {
        display: none;
    }
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    height: 80px;
    background-color: #689E2A;
    &__list {
        display: flex;
        list-style-type: none;
        margin: 0;
        width: 620px;
        justify-content: space-between;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 5px 0;
        height: 40px;

    }
    &__info {
        margin: 0;
    }
    &__link {
        text-decoration: none;
        color: white;
        font-weight: 400;
        font-size: 14px;
        &::selection {
            color: black;
        }
        &:hover {
            color: black;
            font-weight: 900;
        }
        &-cart {
            transition: .1s all linear;
            &:hover {
                transform: scale(1.5);
            }
        }
    }
    &__dot {
        display: block;
        width: 5px;
        height: 5px;
        background: #fff;
        border-radius: 50%;
        margin-left: 10px;
        &::selection {
            color: black;
        }
        
    }
    &__item {
        display: flex;
        align-items: center;
    }
    &__phone {
        background-color: #fff;
        color: #689E2A;
        text-decoration: none;
        padding: 4px 10px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        font-weight: 700;
        transition: .1s all ease-in-out;
        &:hover {
            color: black;
            transform: scale(1.1);
            box-shadow: 0px 7px 5px 2px rgba(0, 0, 0, 0.3);
        }
        &:active {
            transition: .1s all linear;
            color: blue;
            transform: scale(0.8);
        }
        &::selection {
            color: black;
        }
    }
    &__info {
        height: 40px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        &::selection {
            color: black;
        }
    }
    &-active {
       transform: translateY(0);
    }
    &-inactive {
        transform: translateY(-100%);
    }
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display: flex;
    }
    /* The container <div> - needed to position the dropdown content */
    &-dropdown {
        position: relative;
        display: inline-block;
        /* Dropdown Button */
        &__btn {
            background: url('../icons/langIcon_white.svg') center center / cover no-repeat;
            color: white;
            width: 50px;
            height: 50px;
            font-size: 16px;
            border-radius: 100%;
            border: none;
            cursor: pointer;
            /* Dropdown button on hover & focus */
        }
        /* Dropdown Content (Hidden by Default) */
        &__content {
            display: none;
            position: absolute;
            background-color: #fff;
            width: 55px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            margin-top: 15px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* Links inside the dropdown */
            a {
                color: #689e2a;
                text-decoration: none;
                text-align: center;
                width: 55px;
                height: 35px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: center;
                align-content: center;
                align-items: center;
                /* Change color of dropdown links on hover */
                &:hover {
                    background-color: #689e2a;
                    color: #fff;
                }
                img {
                    margin-left: 3px;
                }
                p {
                    margin-right: 1px;
                }
            }
        }
        &__flag {
            width: 15px;
            height: 15px;
        }
        &__langtext {
            margin: 0;
            padding: 0;
        }
    }
}
// BLOCK HEADER-MOBILE
.header-mobile {
    display: none;
    height: 100px;
    background: rgba(104, 158, 42, .85);
    .container {
        height: 100%;
        width: 100%;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
    &__btn {
        cursor: pointer;
    }
    .hamburger {
    width: 40px;
    height: 35px;
    }
    .hamburger_line {
        display: block;
        width: 100%;
        height: 7px;
        margin-bottom: 6px;
        background-color: white;
        transition: 0.5s all; 
        border-radius: 3px;
    }
    &__logoimage {
        width: 65px;
        height: 65px;
    }
    .header-mobileMenu {
        position: fixed;
        height: 100vh;
        width: 60%;
        background-color: #fff;
        top: 0;
        right: 0;
        z-index: 1000;
        opacity: 0;
        transition: 2s all ease-in;
        &_active {
            opacity: 1;
        }
        &__langlink {
            text-decoration: none;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            align-content: center;
            align-items: center;
            border: 1px solid #689e2a;
            color: #689e2a;
            padding: 10px;
            img {
                
                width: 25px;
                height: 25px;
            }
            p {
                margin: 0;
                padding: 0;
                
                font-weight: 500;

            }
            &:active {
                background-color: #689e2a;
                color: #fff;
            }
        }
        &__lang {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 3rem;
            margin-bottom: 30px;
        }
        &__searching {
            label {
                display: none;
            }
            input {
                width: 90%;
                margin-right: 20px;
                border: 1px solid #A7A7A7;
                color: #A7A7A7;
                padding: 0 10px;
                font-size: 14px;
                height: 45px;
                transition: .3s all linear;
                &:active {
                    outline: 0;
                    outline-offset: 0;
                }
                &:focus {
                    outline: 0;
                    outline-offset: 0;
                    border: 3px solid #689E2A;
                }
                &:hover {
                    outline: 0;
                    outline-offset: 0;
                }
                
            }
            button {
                height: 45px;
                width: 45px;
                position: relative;
                background: none;
                border: none;
                transition: .1s all ease-out;
                &:active {
                    transform: scale(.8);
                }
                img {
                    width: 35px;
                    height: 35px;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
        .header-mobileMenu__searchingWrapper {
            display: flex;
            justify-content: space-between;
        }
        &__wrapper {
            height: 100%;
            width: 100%;
            padding: 35px 50px;
        }
        &__logo {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            text-decoration: none;
            p {
                text-decoration: none;
                text-transform: uppercase;
                color: #689E2A;
                font-weight: 900;
                font-size: 50px;
                margin: 0;
                padding: 0;
            }
            img {
                width: 150px;
                height: 150px;
                transform: translateY(-12px)
            }
        }
    }
    &__full {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 2000;
        display: none;
        opacity: 0;
        background-color: rgba(104,158,42,.85);
        &.active {
            opacity: 1;
        transition: 2s all ease-in;
            display: block;

        }
    }
    
}
// BLOCK HOT-SALES
@import url('blocks/_hot-sales.scss');
.hot-sales {
    background-color: #E9FFDA;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 6rem;
        row-gap: 9rem;
        margin-top: 100px;
        padding-bottom: 100px;
    }
    &__title {
        font-size: 36px;
        font-weight: 400px;
        color: #689E2A;
        text-align: center;
        padding: 30px 0;
    }

    .hot-item {
        background: linear-gradient(132.15deg, #C4C4C4 -3.1%, rgba(196, 196, 196, 0) 116.54%);
        border: 1px solid #689E2A;
        border-radius: 30px;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 210px;
        padding-bottom: 0;
        &__title {
            font-weight: 400;
            font-size: 24px;
            text-align: center;
            color: #000000;
            margin-top: 50px;
        }
        &__subtitle {
            font-size: 14px;
            text-align: center;
            color: #000000;
            font-weight: 400;
            border-bottom: 5px dotted #689E2A;
            padding-bottom: 15px;
            width: 100%;
        }
        // &__dots {
        //     border-bottom: 5px dotted #689E2A;
        // }
        &__bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            margin-top: 7px;
            height: 100%;
        }
        &__price {
            font-size: 24px;
            font-weight: 400;
        }
        &__btnadd {
            color: #689E2A;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 400;
            border: 1px solid #689E2A;
            padding: 4px 8px;
        }
        &__image {
            border: 2px solid #689E2A;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(-100px);
            position: absolute;
        }
        
    }
}
// BLOCK COMBO
@import url('blocks/_combo.scss');
.combo {
    &-divide {
        background: linear-gradient(77.74deg, #689E2A 0.27%, rgba(104, 158, 42, 0) 136.86%);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 50px 0;
        &_reverse {
            margin-top: 120px;
            .combo-divide__img {
                order: 1;
            }
            .combo-divide-offer {
                order: -1;
            }
        }
        &-offer {
            display: flex;
            height: 350px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            &__title {
                font-weight: 600;
                font-size: 36px;
            }
            &__text {
                font-size: 24px;
                font-weight: 400;
            }
            &__logo {
                display: block;
                margin: 0 auto;
            }
            &__btn {
                width: 240px;
                background-color: #fff;
                color: #689E2A;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 24px;
                border: none;
                outline: 0;
                transition: .1s all ease-in-out;
                &:hover {
                    color: black;
                    transform: scale(1.1);
                    box-shadow: 0px 7px 5px 2px rgba(0, 0, 0, 0.3);
                }
                &:active {
                    transition: .2s all ease-in-out;
                    color: blue;
                    transform: scale(0.8);
                }
                &::selection {
                    color: black;
                }
            }
        }
    }
    &__title {
        display: none;
    }
}
// BLOCK STEPS
@import url('blocks/_steps.scss');
.steps {
    padding: 50px 0;
    &__title {
        text-align: center;
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 45px;
    }
    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__img {
            width: 120px;
            height: 120px;
            margin-bottom: 30px;
        }
        &__title {
            text-align: center;
            font-weight: 700;
            font-size: 24px;
            color: #689E2A;
            position: relative;
            margin-bottom: 15px;

            &-line {
                &:after {
                    content: '';
                    display: block;
                    width: 300px;
                    height: 4px;
                    border-bottom: 3px dashed #689E2A;
                    position: absolute;
                    right: -335px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        &__text {
            padding: 0;
            margin: 0;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
}
// BLOCK ABOUT
@import url('blocks/_about.scss');
.about {
   padding: 85px 0;
    &__title {
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        font-size: 36px;
        margin-bottom: 30px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__text {
        font-weight: 400;
        font-size: 14px;
        padding: 0;
        margin: 0;
    }
    &__descr {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
    }
    &__btn {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #689E2A;
        color: #fff;
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        transition: .1s all ease-in-out;
        &:hover {
            color: #fff;
            transform: scale(1.15);
            box-shadow: 0px 7px 5px 2px rgba(0, 0, 0, 0.3);
        }
        &:active {
            transition: .1s all linear;
            color: blue;
            transform: scale(0.8);
        }
    }
}
// BLOCK FOOTER
@import url('blocks/_footer.scss');
.footer {
    background-color: #353535;
    min-height: 360px;
    padding-bottom: 20px;
    padding-top: 60px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    &__title {
        text-align: center;
        color: #689E2A;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 35px;
    }
    &-form {
        margin-bottom: 45px;
        display: flex;
        .footerEmail {
            width: 350px;
            height: 55px;
            outline: 0;
            outline-offset: 0;
            margin: 0;
            padding: 0;
            border: none;
            padding: 0 35px;
            font-size: 14px;
            font-weight: 500;
            :active, :hover, :focus {
            border: none;
                outline: 0;
                outline-offset: 0;
            }
        }
        .footerBtn {
            font-size: 14px;
            font-weight: 700;
            width: 200px;
            height: 55px;
            outline: 0;
            outline-offset: 0;
            background: #689E2A;
            margin: 0;
            padding: 0;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            transition: .1s all ease-in-out;
            :active, :hover, :focus {
            border: none;
                outline: 0;
                outline-offset: 0;
            }

            &:hover {
                color: black;
                transform: scale(1.1);
                box-shadow: 0px 7px 5px 2px rgba(0, 0, 0, 0.3);
            }
            &:active {
                transition: .1s all linear;
                color: blue;
                transform: scale(0.8);
            }
            &::selection {
                color: black;
            }
        }
    }
    &__social {
        width: 130px;
        display: flex;
        justify-content: space-around;

    }
    &__link {
        img {
            transition: 1s all linear;
        }
        
        &:hover img {
            color: black;
            transform: scale(1.2);
        }
        &:active img {
            transition: .1s all linear;
            color: blue;
            transform: scale(0.8);
        }
        &::selection img {
            color: black;
        }
    }
    &-nav {
        &__list {
            display: flex;
        list-style-type: none;
        margin: 0;
        width: 65%;
        justify-content: space-between;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 5px 0;
        height: 40px;
        }
        &__listitem{
            display: flex;
            justify-content: center;
            align-items: center;
           a {
            text-decoration: none;
        color: white;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;

        &::selection {
            color: black;
        }
        &:hover {
            color: black;
            font-weight: 900;
        }
           }
        &_cart {
            transition: .1s all linear;
            &:hover {
                transform: scale(1.5);
            }
        }
        }
        &__dot {
            display: block;
        width: 5px;
        height: 5px;
        background: #fff;
        border-radius: 50%;
        margin-left: 10px;
        &::selection {
            color: black;
        }
        }
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
// BLOCK PRODUCTION
@import url('blocks/_production.scss');
.production {
  padding-top: 120px;
  &-left {
    &__menu {
        border: 1px solid #9C9C9C;
        display: flex;
        flex-direction: column;
        align-items: START;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
    &__list {
        list-style-type: none;
    }
    &__listitem {
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        &:before {
            content: '';
            display: block;
            position: absolute;
            border: 6px solid transparent; 
            border-left: 6px solid #689E2A;
            width: 6px;
            height: 6px;
            left: -15px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__listlink {
        text-decoration: none;
        color: black;
        font-weight: 400;
        font-size: 16px;
    }
    &__logo {
       display: flex;
       justify-content: center;
       align-items: center;
       transform: translateY(-20px);
       flex-direction: column;
       h3 {
        color: #53af1e;
text-transform: uppercase;
font-weight: 900;
margin-top: 15px;
font-size: 30px;
       }
    }
  }
  &-right {
    &__title {
        font-weight: 400;
        font-size: 36px;
        text-align: center;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 6rem;
        row-gap: 9rem;
        margin-top: 100px;
        padding-bottom: 100px;

        .hot-item {
            background: linear-gradient(132.15deg, #C4C4C4 -3.1%, rgba(196, 196, 196, 0) 116.54%);
            border: 1px solid #689E2A;
            border-radius: 30px;
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 210px;
            padding-bottom: 0;
            &__title {
                font-weight: 400;
                font-size: 24px;
                text-align: center;
                color: #000000;
                margin-top: 50px;
            }
            &__subtitle {
                font-size: 14px;
                text-align: center;
                color: #000000;
                font-weight: 400;
                border-bottom: 5px dotted #689E2A;
                padding-bottom: 15px;
                width: 100%;
            }
            // &__dots {
            //     border-bottom: 5px dotted #689E2A;
            // }
            &__bottom {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 10px;
                margin-top: 7px;
                height: 100%;
            }
            &__price {
                font-size: 24px;
                font-weight: 400;
            }
            &__btnadd {
                color: #689E2A;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-weight: 400;
                border: 1px solid #689E2A;
                padding: 4px 8px;
            }
            &__image {
                border: 2px solid #689E2A;
                border-radius: 50%;
                width: 150px;
                height: 150px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateY(-100px);
                position: absolute;
            }
            
        }

        .hot-item {
            background: linear-gradient(132.15deg, #C4C4C4 -3.1%, rgba(196, 196, 196, 0) 116.54%);
            border: 1px solid #689E2A;
            border-radius: 30px;
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 210px;
            padding-bottom: 0;
            &__title {
                font-weight: 400;
                font-size: 24px;
                text-align: center;
                color: #000000;
                margin-top: 50px;
            }
            &__subtitle {
                font-size: 14px;
                text-align: center;
                color: #000000;
                font-weight: 400;
                border-bottom: 5px dotted #689E2A;
                padding-bottom: 15px;
                width: 100%;
            }
            // &__dots {
            //     border-bottom: 5px dotted #689E2A;
            // }
            &__bottom {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 10px;
                margin-top: 7px;
                height: 100%;
            }
            &__price {
                font-size: 24px;
                font-weight: 400;
            }
            &__btnadd {
                color: #689E2A;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-weight: 400;
                border: 1px solid #689E2A;
                padding: 4px 8px;
            }
            &__image {
                border: 2px solid #689E2A;
                border-radius: 50%;
                width: 150px;
                height: 150px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateY(-100px);
                position: absolute;
            }
            
        }

        .hot-item {
            background: linear-gradient(132.15deg, #C4C4C4 -3.1%, rgba(196, 196, 196, 0) 116.54%);
            border: 1px solid #689E2A;
            border-radius: 30px;
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 210px;
            padding-bottom: 0;
            &__title {
                font-weight: 400;
                font-size: 24px;
                text-align: center;
                color: #000000;
                margin-top: 50px;
            }
            &__subtitle {
                font-size: 14px;
                text-align: center;
                color: #000000;
                font-weight: 400;
                border-bottom: 5px dotted #689E2A;
                padding-bottom: 15px;
                width: 100%;
            }
            // &__dots {
            //     border-bottom: 5px dotted #689E2A;
            // }
            &__bottom {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 10px;
                margin-top: 7px;
                height: 100%;
            }
            &__price {
                font-size: 24px;
                font-weight: 400;
            }
            &__btnadd {
                color: #689E2A;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-weight: 400;
                border: 1px solid #689E2A;
                padding: 4px 8px;
            }
            &__image {
                border: 2px solid #689E2A;
                border-radius: 50%;
                width: 150px;
                height: 150px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateY(-100px);
                position: absolute;
            }
            
        }
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 2fr 7fr;
    column-gap: 50px;
  }
}
// BLOCK CART
@import url('blocks/_cart.scss');
.cart {
    padding-top: 80px;
    &__title {
        margin: 50px 0;
    }
    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 40px 0;
        &__details {
            display: flex;
        }
        &__image {
            margin-right: 15px;
            object-fit: cover;
            height: 150px;
            width: 90px;
        }
        &__id, &__name {
            font-weight: 400;
            font-size: 12px;
        }
        &__imgwrapper {
            width: 150px;
            height: 150px;
            display: flex;
            justify-content: start;
        }
    }
    &-price {
        display: flex;
        align-items: center;
    }
    &-delete{
        &__image {
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
    }
    &-descr {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &-counter {
        width: 85px;
        height: 25px;
        border: 1px solid #689E2A;
        display: flex;
        padding-left: 5px;
        padding-right: 5px;
        justify-content: space-between;
        font-size: 16px;
        color: #689E2A;
        font-weight: 400;
        cursor: pointer;
        &__counter {
            font-weight: 600;
        }
    }
    &-delete {
        margin-left: 10px;
    }
    &__list {
        border-bottom: 1px solid #689E2A;
        margin-bottom: 80px;
    }
    &-form {
        &__title {
            font-weight: 500;
            font-size: 18px;
        }
        &__wrapper {
            display: grid;
            grid-template-columns: 7fr 2fr;
            column-gap: 100px;
        }
        &__input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 15px 0;
            .choice {
                margin: 15px 0;
            }
            &-new {
                flex-direction: column;
                align-items: start;
                width: 100%;
                .cart-form__write {
                    width: 100%;
                }
            }
            &_mt {
                margin-top: 70px;
            }

        }
        &__write {
            width: 550px;
            border: 1px solid #A7A7A7;
            color: #A7A7A7;
            padding: 0 10px;
            font-size: 14px;
            height: 35px;
            transition: .3s all linear;
            &:active {
                outline: 0;
                outline-offset: 0;
            }
            &:focus {
                outline: 0;
                outline-offset: 0;
                border: 3px solid #689E2A;
            }
            &:hover {
                outline: 0;
                outline-offset: 0;
            }
        
        }
        &__label {
            font-size: 12px;
        }
        &__street {
            margin-top: 100px;
            .part2{
                &-wrap {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 25px;
                }
            }
        }
        &__radiolabel {
            font-size: 12px;
            font-weight: 400;
        }
        &__radiowrap {
            display: flex;
            flex-direction: column;
            width: 550px;
        }
        &__radiopay {
             /* для элемента input c type="radio" */
            position: absolute;
            z-index: -1;
            opacity: 0;
            width: 20px;
            height: 20px;
             /* для элемента label связанного с .custom-radio */
            &+label {
                display: inline-flex;
                align-items: center;
                user-select: none;
                /* создание в label псевдоэлемента  before со следующими стилями */
                &:before {
                    content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                flex-shrink: 0;
                flex-grow: 0;
                border: 1px solid #689E2A;
                border-radius: 50%;
                margin-right: 25px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
                transition: .1s all linear;
    }
            }
              /* стили при наведении курсора на радио */
            &:not(:disabled):not(:checked)+label:hover::before {
                border-color: #689E2A;
                border-width: 2px;
            }
            /* стили для активной радиокнопки (при нажатии на неё) */
            &:not(:disabled):active+label::before {
                background-color: #689E2A;
                border-color: #689E2A;
            }
            /* стили для радиокнопки, находящейся в состоянии checked */
            &:checked+label::before  {
                border-color: #689E2A;
                background-color: #fff;
                background: url("../icons/radioChecked.svg");
                background-position: center;
                background-repeat: no-repeat;
            }
            
        }
        &__menu {
            display: flex;
            flex-direction: column;
        }
        &__menulink {
            color: #000;
            font-weight: 500;
            font-size: 12px;
            display: block;
            margin: 5px 0;
            &:hover {
                color: #689E2A;
            }
        }
        &__right {
            padding-top: 10px;
        }
    }
    &-delivery, &-sum {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 500;
        &__price {
            font-weight: 700;
        }
    }
    &-delivery {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    &-sum {
        margin-bottom: 20px;
    }
    &-pay {
        display: flex;
        text-decoration: none;
        background-color: #689E2A;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        border-radius: 3px;
        height: 35px;
        transition: .3s all linear;
        margin-bottom: 15px;
        &:hover {
            color: black;
            transform: scale(1.05);
            box-shadow: 0px 7px 5px 2px rgba(0, 0, 0, 0.3);
        }
        &:active {
            transition: .1s all linear;
            color: blue;
            transform: scale(0.8);
        }
        &::selection {
            color: black;
        }
    }
    &-policy {
        color: #A7A7A7;
        font-size: 12px;
        &__policy, &__public {
            display: inline-block;
            color: #A7A7A7;
            &:hover {
                color: #689E2A;
            }
        }

    }
}

// Hover On ADD BTN on CardItem
.hot-item__btnadd {
    cursor: pointer;
    transition: .3 all linear;
    &:hover {
        background: #689E2A;
        color: white;
    }
}

// MEDIA REQUESTS
@media  screen and (max-width: 1400px) {
    /* 1. PAGE INDEX.HTML */


}

@media  screen and (max-width: 1200px) {
    .header-pc {
        display: none;
    }
    .header-mobile {
        display: block;
    }
}

@media  screen and (max-width: 991px) {
    
}

@media  screen and (max-width: 776px) {
    
}

@media  screen and (max-width: 575px) {
    
}
