@import url('libs/_bootstrap-grid.scss');
@import url('libs/_bootstrap-reboot.scss');
// @import url('base/_fonts.scss'); I CONNECTED THROUGH GOOGLE CDN
@import url('base/_logo.scss');
@import url('base/_base.scss');
.confirmationBTN {
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: center;
    &-green {
        background-color: #689E2A;
        color: white;
        padding: 10px;
    }
}

// font-family: 'Work Sans', sans-serif;
// font-family: 'Roboto', sans-serif;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

.bodyNoScroll {
    overflow: hidden;
}


//BLOCK FIRSTSCREEN
@import url('blocks/_firstscreen.scss');
.firstscreen {
    height: 100vh;
    background: linear-gradient(180deg, #689E2A 5.21%, rgba(196, 196, 196, 0) 100%);
    background-repeat: no-repeat;
    padding-top: 80px;
    &__wrapper {
        display: flex;
        justify-content: space-around;
        position: relative;
        align-items: center;
    }
    &__right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__left {
        color: #fff;
        width: 50%;
        .confirmationBTN {
            width: 33%;
        }
        h1 {
            font-size: 48px;
            font-weight: 700;
        }
        p {
            font-size: 14px;
            font-weight: 400;
        }
   
    }
    &__pulseborder {
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        flex-direction: column;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        opacity: .8;
        h2 {
            color: #53AF1E;
            text-transform: uppercase;
            font-weight: 900;
            margin-top: 15px;
            font-size: 30px;
        }
    }
    &-icons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 12rem;
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #689E2A;
            font-size: 24px;
            font-weight: 400;
            img {
                width: 40%;
                height: 40%;
            }
            p {
                font-size: 16px;
                margin-top: 10px;
            }
        }
    }
}

//BLOCK PRELOADER
@import url('base/_preloader.scss');
//BLOCK HEADER
@import url('blocks/_header.scss');
.header {
    transition: .2s all linear;
    position: fixed;
    width: 100vw;
    z-index: 9999999999;
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    height: 80px;
    background-color: #689E2A;
    &__list {
        display: flex;
        list-style-type: none;
        margin: 0;
        width: 65%;
        justify-content: space-between;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 5px 0;
        height: 40px;

    }
    &__info {
        margin: 0;
    }
    &__link {
        text-decoration: none;
        color: white;
        font-weight: 400;
        font-size: 14px;
        &::selection {
            color: black;
        }
        &:hover {
            color: black;
            font-weight: 900;
        }
        &-cart {
            transition: .1s all linear;
            &:hover {
                transform: scale(1.5);
            }
        }
    }
    &__dot {
        display: block;
        width: 5px;
        height: 5px;
        background: #fff;
        border-radius: 50%;
        margin-left: 10px;
        &::selection {
            color: black;
        }
        
    }
    &__item {
        display: flex;
        align-items: center;
    }
    &__phone {
        background-color: #fff;
        color: #689E2A;
        text-decoration: none;
        padding: 4px 10px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        font-weight: 700;
        transition: .1s all ease-in-out;
        &:hover {
            color: black;
            transform: scale(1.1);
            box-shadow: 0px 7px 5px 2px rgba(0, 0, 0, 0.3);
        }
        &:active {
            transition: .1s all linear;
            color: blue;
            transform: scale(0.8);
        }
        &::selection {
            color: black;
        }
    }
    &__info {
        height: 40px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        &::selection {
            color: black;
        }
    }
    &-active {
       transform: translateY(0);
    }
    &-inactive {
        transform: translateY(-100%);
    }
}
@import url('blocks/_hot-sales.scss');
.hot-sales {
    background-color: #E9FFDA;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 6rem;
        row-gap: 9rem;
        margin-top: 100px;
        padding-bottom: 100px;
    }
    &__title {
        font-size: 36px;
        font-weight: 400px;
        color: #689E2A;
        text-align: center;
        padding: 30px 0;
    }

    .hot-item {
        background: linear-gradient(132.15deg, #C4C4C4 -3.1%, rgba(196, 196, 196, 0) 116.54%);
        border: 1px solid #689E2A;
        border-radius: 30px;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 210px;
        padding-bottom: 0;
        &__title {
            font-weight: 400;
            font-size: 24px;
            text-align: center;
            color: #000000;
            margin-top: 50px;
        }
        &__subtitle {
            font-size: 14px;
            text-align: center;
            color: #000000;
            font-weight: 400;
            border-bottom: 5px dotted #689E2A;
            padding-bottom: 15px;
            width: 100%;
        }
        // &__dots {
        //     border-bottom: 5px dotted #689E2A;
        // }
        &__bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            margin-top: 7px;
            height: 100%;
        }
        &__price {
            font-size: 24px;
            font-weight: 400;
        }
        &__btnadd {
            color: #689E2A;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 400;
            border: 1px solid #689E2A;
            padding: 4px 8px;
        }
        &__image {
            border: 2px solid #689E2A;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(-100px);
            position: absolute;
        }
        
    }
}
@import url('blocks/_combo.scss');
.combo {
    &-divide {
        background: linear-gradient(77.74deg, #689E2A 0.27%, rgba(104, 158, 42, 0) 136.86%);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 50px 0;
        &_reverse {
            margin-top: 120px;
            .combo-divide__img {
                order: 1;
            }
            .combo-divide-offer {
                order: -1;
            }
        }
        &-offer {
            display: flex;
            height: 350px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            &__title {
                font-weight: 600;
                font-size: 36px;
            }
            &__text {
                font-size: 24px;
                font-weight: 400;
            }
            &__logo {
                display: block;
                margin: 0 auto;
            }
            &__btn {
                width: 240px;
                background-color: #fff;
                color: #689E2A;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 24px;
                border: none;
                outline: 0;
                &:hover {
                    color: black;
                    transform: scale(1.1);
                    box-shadow: 0px 7px 5px 2px rgba(0, 0, 0, 0.3);
                }
                &:active {
                    transition: .2s all ease-in-out;
                    color: blue;
                    transform: scale(0.8);
                }
                &::selection {
                    color: black;
                }
            }
        }
    }
}
